black
coverage
mypy
pylint
tox

git+https://gitlab.com/dsbowen/hemlock@master#egg=hemlock
# need to downgrade eventlet, see this issue:
# https://github.com/eventlet/eventlet/issues/702
eventlet==0.31.0
gunicorn
psycopg2